<div class="container pt-4">
  <h1 id="content">Floating labels</h1>
  <p class="bd-lead">Create beautifully simple form labels that float over your input fields.</p>

  <h2>Example</h2>
  <p>Wrap a pair of <code>&lt;input class="form-control"&gt;</code> and <code>&lt;label&gt;</code> elements in <code>.form-floating</code> to enable floating labels with Bootstrap’s textual form fields. A <code>placeholder</code> is required on each <code>&lt;input&gt;</code> as our method of CSS-only floating labels uses the <code>:placeholder-shown</code> pseudo-element. Also note that the <code>&lt;input&gt;</code> must come first so we can utilize a sibling selector (e.g., <code>~</code>).</p>

  <%= example_with_code do %>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
  <% end %>

  <p>When there’s a <code>value</code> already defined, <code>&lt;label&gt;</code>s will automatically adjust to their floated position.</p>

  <%= example_with_code do %>
    <form class="form-floating">
      <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com">
      <label for="floatingInputValue">Input with value</label>
    </form>
  <% end %>

  <p>Form validation styles also work as expected.</p>

  <%= example_with_code do %>
    <form class="form-floating">
      <input type="email" class="form-control is-invalid" id="floatingInputInvalid" placeholder="name@example.com" value="test@example.com">
      <label for="floatingInputInvalid">Invalid input</label>
    </form>
  <% end %>

  <h2>Textareas</h2>
  <p>By default, <code>&lt;textarea&gt;</code>s with <code>.form-control</code> will be the same height as <code>&lt;input&gt;</code>s.</p>

  <%= example_with_code do %>
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Comments</label>
    </div>
  <% end %>

  <h2>Textareas</h2>

  <p>Other than <code>.form-control</code>, floating labels are only available on <code>.form-select</code>s. They work in the same way, but unlike <code>&lt;input&gt;</code>s, they’ll always show the <code>&lt;label&gt;</code> in its floated state. <strong>Selects with <code>size</code> and <code>multiple</code> are not supported.</strong></p>

  <%= example_with_code do %>
    <div class="form-floating">
      <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <label for="floatingSelect">Works with selects</label>
    </div>
  <% end %>
</div>
