<div class="container pt-4">
  <h1 id="content">Borders</h1>
  <p class="bd-lead">Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons, or any other element.</p>

  <h2>Additive</h2>

  <p>Use border utilities to add or remove an element’s borders. Choose from all borders or one at a time.</p>

  <%= example_with_code do %>
    <div class="border d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="border-top d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="border-end d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="border-bottom d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="border-start d-inline-block bg-light" style="height: 50px; width: 50px"></div>
  <% end %>

  <h2>Subtractive</h2>

  <%= example_with_code do %>
    <div class="border border-0 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="border border-top-0 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="border border-end-0 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="border border-bottom-0 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="border border-start-0 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
  <% end %>

  <h2>Border color</h2>
  <p>Change the border color using utilities built on our theme colors.</p>

  <%= example_with_code do %>
    <div class="border d-inline-block bg-light border-primary" style="height: 50px; width: 50px"></div>
    <div class="border-top d-inline-block bg-light border-secondary" style="height: 50px; width: 50px"></div>
    <div class="border-end d-inline-block bg-light border-success" style="height: 50px; width: 50px"></div>
    <div class="border-bottom d-inline-block bg-light border-danger" style="height: 50px; width: 50px"></div>
    <div class="border-start d-inline-block bg-light border-warning" style="height: 50px; width: 50px"></div>
  <% end %>

  <h2>Border width</h2>

  <%= example_with_code do %>
    <div class="border border-1 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="border border-2 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="border border-3 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="border border-4 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="border border-5 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
  <% end %>

  <h2>Border radius</h2>
  <p>Add classes to an element to easily round its corners.</p>
  <%= example_with_code do %>
    <div class="rounded d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="rounded-top d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="rounded-end d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="rounded-bottom d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="rounded-start d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="rounded-circle d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="rounded-pill d-inline-block bg-light" style="height: 50px; width: 100px"></div>
  <% end %>

  <h3>Sizes</h3>
  <p>Use the scaling classes for larger or smaller rounded corners. Sizes range from 0 to 3, and can be configured by modifying the utilities API.</p>

  <%= example_with_code do %>
    <div class="rounded-0 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="rounded-1 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="rounded-2 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
    <div class="rounded-3 d-inline-block bg-light" style="height: 50px; width: 50px"></div>
  <% end %>
